<ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{lang.text['SideTitle']}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <ion-item-divider>
      <ion-label>{{lang.text['Filter']}}</ion-label>
    </ion-item-divider>
    <ion-accordion-group>
      <ion-accordion toggleIcon="">
        <ion-item slot="header">
          <ion-icon slot="start" name="search-outline"></ion-icon>
          <ion-label>{{lang.text['SearchKey']}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item>
            <ion-input [(ngModel)]="SearchKeyword" [placeholder]="lang.text['InputSearchKey']"></ion-input>
            <ion-icon slot="end" name="search-circle-outline" (click)="filter_with_text()"></ion-icon>
          </ion-item>
        </div>
      </ion-accordion>
      <ion-accordion toggleIcon="">
        <ion-item slot="header">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>{{lang.text['DateKey']}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-datetime [locale]="lang.lang" presentation="date" [highlightedDates]="AllFileList"></ion-datetime>
        </div>
      </ion-accordion>
    </ion-accordion-group> -->
    <div *ngIf="!isMobile">
      <ion-item-divider>
        <ion-label>{{lang.text['MobileApp']}}</ion-label>
      </ion-item-divider>
      <ion-item button (click)="go_to_playstore_page()">
        <ion-icon slot="start" name="logo-google-playstore"></ion-icon>
        <ion-label>{{lang.text['LinkPlaystore']}}</ion-label>
      </ion-item>
    </div>
    <ion-item-divider>
      <ion-label>{{lang.text['Creator']}}</ion-label>
    </ion-item-divider>
    <ion-item button (click)="go_to_creator_home()">
      <ion-avatar slot="start">
        <img src="assets/icon/pjcone.png" />
      </ion-avatar>
      <ion-label>
        <div>Project: Cone</div>
        <div style="color: #888;">{{lang.text['CreatorName']}}</div>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-menu>

<div id="menu-content" class="ion-page">
  <ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button> </ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{lang.text['Title']}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-button color="tertiary" expand="block" fill="clear" shape="round" (click)="create_new()">
      {{lang.text['PressToAdd']}}
    </ion-button>
    <div *ngIf="isCreateNew">
      <ion-card>
        <ion-button expand="block" fill="clear" (click)="ActiveInputSelector()">
          {{lang.text['AddImage']}}
        </ion-button>
        <input id="imageInput" type="file" accept="image/*" (change)="inputImageSelected($event)" hidden>
        <img *ngIf="userInput.url" [src]="userInput.url" />
        <ion-card-header>
          <ion-card-subtitle>
            <input type="text" class="new_card_input" [(ngModel)]="CardTargetDate">
          </ion-card-subtitle>
          <ion-card-title>
            <input id="newTitle" type="text" class="new_card_input" [placeholder]="lang.text['NoTitle']"
              [(ngModel)]="userInput.title">
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <input type="text" class="new_card_input" [placeholder]="lang.text['NoContent']"
            [(ngModel)]="userInput.content">
          <ion-button expand="block" fill="clear" (click)="save()">
            {{lang.text['Write']}}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngFor="let i of ListSize">
      <ion-card (click)="SelectedIndex = i">
        <img *ngIf="AllFileList[i].url" [src]="AllFileList[i].url" />
        <ion-card-header>
          <ion-card-subtitle>{{AllFileList[i].date}}</ion-card-subtitle>
          <ion-card-title>{{AllFileList[i].title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="AllFileList[i].content">
          {{AllFileList[i].content}}
        </ion-card-content>
        <ion-grid *ngIf="i == SelectedIndex">
          <ion-row>
            <!-- <ion-col>
              <ion-button expand="block" fill="clear">
                {{lang.text['Modify']}}
              </ion-button>
            </ion-col> -->
            <ion-col>
              <ion-button expand="block" fill="clear" (click)="remove(i)">
                {{lang.text['Delete']}}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ion-content>
</div>