.new_card_input {
  border: none;
  width: 100%;
}

ion-menu::part(backdrop) {
  background-color: rgba(255, 117, 78, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 16px 16px 0;
  box-shadow: 4px 0px 16px rgba(255, 117, 78, 0.18);
}